<div class="placeholder__text__container">
  <div class="placeholder__text placeholder__text_first placeholder__shimmer"></div>
  <div class="placeholder__text placeholder__text_second placeholder__shimmer"></div>
</div>
