<div class="placeholder__content__container">
  <div class="placeholder__content placeholder__content_first-line"></div>
  <div class="placeholder__content placeholder__content_second-line"></div>
  <div class="placeholder__content placeholder__content_third-line"></div>
</div>
