{% if section.settings.display_page_header %}
  {% include 'page-header', snippet_instance: section %}
{% endif %}

<div class="page-template">
  <div class="row custom-page__wrap">

    {% case section.settings.content_width %}
      {% when '1' %}
        {% assign content_layout = 'medium-12 large-12 columns' %}
      {% when '1-2' %}
        {% assign content_layout = 'medium-6 large-6 columns' %}
      {% when '1-3' %}
        {% assign content_layout = 'medium-6 large-4 columns' %}
      {% when '2-3' %}
        {% assign content_layout = 'medium-10 large-8 columns' %}
      {% when '3-4' %}
        {% assign content_layout = 'medium-10 large-9 columns' %}
    {% endcase %}

    <div class="{{ content_layout }} custom-page__content medium-centered large-centered">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Simple Page Template",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_page_header",
      "label": "Display Page Header",
      "default": true
    },
    {
      "type": "header",
      "content": "Page Header Style"
    },
    {
      "type": "checkbox",
      "id": "breadcrumb",
      "label": "Display Breadcrumbs",
      "default": true
    },
    {
       "type": "radio",
       "id": "breadcrumb_position",
       "label": "Breadcrumbs Position",
       "options": [
         { "value": "above", "label": "Above Title" },
         { "value": "below", "label": "Below Title" }
       ],
       "default": "below"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_styles",
      "label": "Enable Custom Styles",
      "default": true
    },
    {
      "type": "range",
      "id": "height",
      "min": 100,
      "max": 600,
      "step": 10,
      "unit": "px",
      "label": "Section Height",
      "default": 200
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Title Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_shadow",
      "label": "Text shadow effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "soft",
          "label": "Soft"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "intense",
          "label": "Intense"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "Background Style"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_image_style",
      "label": "Background Image Style",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Enable Parallax Effect",
      "default": false
    },
    {
      "type": "range",
      "id": "darken",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Darken Background",
      "default": 0
    },
    {
      "type": "header",
      "content": "Page Settings"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content Width",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Full"
        },
        {
          "value": "1-2",
          "label": "1/2"
        },
        {
          "value": "1-3",
          "label": "1/3"
        },
        {
          "value": "2-3",
          "label": "2/3"
        },
        {
          "value": "3-4",
          "label": "3/4"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "desktop_centered",
      "label": "Centered Content (desktop)",
      "default": true
    }
  ]
}
{% endschema %}
