<div class="page-width">
  <div class="grid">
    <div class="section-header text-center page__header content-section">
        <h1>{{ page.title }}</h1>
    </div>
    <div>
      {% include 'breadcrumb' %} 
    </div>  
    <div class="row columns">
       <div class="page-template custom-page container "  data-section-id="{{ section.id }}" data-section-type="page-template">
        {{ page.content }}
       </div>
    </div>
  </div> 
</div>